# Ignore raw and processed data, outputs
stacked_waveforms/
waveforms/
spectrograms/
outputs/

# Python cache
__pycache__/
*.pyc
*.pyo

#some old script and notebooks
Totten Icequakes.ipynb
Totten Plots (Thesis).ipynb
totten_backmigration.py
totten_phase_picking.py
travel_times.ipynb
totten_stream_availability.csv


# Jupyter checkpoints
.ipynb_checkpoints/